<div class="container">
  <div class="row">
    <h3><%= @card.name %></h3>
  </div>
  <div class="row">
    <%= image_for(@card.image_url) %>
  </div>
  <div class="row">
    <p><%= @card.text %></p>
  </div>
  <div class="row">
    <h3>Decks:</h3>
  </div>
  <div class="row">
    <% @card.main_deck.each do |deck| %>
      <p><%= link_to deck.name, deck_path(deck) %></p>
    <% end %>
  </div>
  <div class="row">
    <h3>Frequently main-decked with:</h3>
  </div>
  <div class="row">
    <% @recommendations.each do |rec| %>
      <% unless rec[1].id == @card.id %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <%= image_for(rec[1].image_url, style: 'height: 100%; width: 100%;') %>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <p class="card-text"><%= rec[0] %> <%= rec[1].name %></p>
                <div class="btn-group">
                  <%= link_to 'View', card_path(rec[1].id), :class => "btn btn-sm btn-outline-secondary"%>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

